body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.section-title {
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

/*----------- HEADER----------- */

.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo-clr {
  color: #2e2f42;
}

.header-menu-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address {
  font-style: normal;
  margin-left: auto;
}
.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-address-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

/*----------- HERO ----------- */
.hero {
  background-color: #2e2f42;
}

.hero-title {
  padding-top: 188px;
  padding-bottom: 48px;
  padding-left: auto;
  padding-right: auto;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-primary-btn {
  border-radius: 4px;
  padding: 16px 32px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #fff;
  background-color: #4d5ae5;
}

.hero-primary-btn:hover,
.hero-primary-btn:focus {
  background-color: #404bbf;
}
/*----------- advantages ----------- */
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-item {
}
.advantages-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.advantages-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*----------- our team ----------- */
.our-team-seletion {
  background-color: #f4f4fd;
}

.our-team-item {
  background-color: #ffffff;
}
.our-team-list {
  display: flex;
  gap: 24px;
}
.our-team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our-team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*-----------our-portfolio----------- */

.our-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.our-portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.our-portfolio-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.container-portfolio {
  width: 360px;
  height: 420px;
}
/*----------- FOOTER----------- */
footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-clr {
  color: #f4f4fd;
}

.footer-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
